# code management
black==23.10.1
coloredlogs==15.0.1
mypy==1.7.1
pydantic==2.5.2
pylint==3.0.0
pylint-exit==1.2.0

# pipelines
tqdm==4.66.1

# data processing
numpy==1.26.0
pandas==2.1.4

# ngram
transformers==4.34.0
ijson==3.2.3